@charset "UTF-8";
/* ==== 全体共通　==== */
html {
    font-size: 100%;
}

img {
    max-width: 100%;
}

body {
    margin: 0 auto 0 auto;
    font-size: 0.9rem;
    font-family: 'Raleway', sans-serif;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.section-title {
    font-size: 1.125rem;
    text-align: center;
    margin: 20px;
    border-bottom: 1px solid black;
}

/* ==== header ==== */
#header {
    margin: 20px auto;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .site-title {
    font-size: 1.125rem;
}
#header nav {
    display: flex;
}

/* ボタン */
.pushbutton {
    /* ボタンの形状 */
    position: relative;
    width: 130px;
    height: 50px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
    background: #fff;
    color: #333;
    text-decoration: none;
    outline: none;

    /* 真ん中にテキストを配置 */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ボタンの枠線 */
.pushbutton::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    /* 線の形状 */
    width: 95%;
    height: 80%;
    border: 2px solid #fff;
    transform: translate(-50%, -50%) scale(1.1);
    /* アニメーションの指定 */
    transition: .3s ease;
}
/* hoverで枠線が小さくなる */
.pushbutton:hover::after {
    transform: translate(-50%, -50%) scale(1);
    border-color: #333;
}

/* ==== main ==== */

/* == index.html == */
/* メインビジュアル */
.mainvisual {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    height: 600px;
    background-image: url(../image/mainvisual.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* aboutとmember */
#about, #member{
    display: flex;
    padding-top: 20px;
    width: 100%;
}
#about .text, #member .text {
    width: 50%;
    line-height: 40px;
    padding-right: 20px;
    margin-right: 20px;
}
#about .images, #member .images{
    width: 50%;
}
#about ul {
    display: flex;
    margin: 0;
    padding: 0;
}
#bigimg {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 10px;
}
#about li img{
    flex: 1 1 auto;
    margin-right: 10px;
    max-width: calc(480px/3);
}
#about li:last-child {
    margin-right: 0;
}

#member p {
    text-align: center;
}

/* == products.html == */
#top {
    padding-top: 80px;
    padding-bottom: 160px;
}
.productList {
    display: flex;
    flex-wrap: wrap; /* 子要素を横一列に配置 */
    justify-content: space-between; /*各アイテムを均等に配置し最初のアイテムは先頭に寄せ、最後のアイテムは末尾に寄せる */
}
.productList li {
    width: 23%;
    margin-bottom: 40px;
}
.productList img {
    margin-bottom: 10px;
    vertical-align: top; /* 要素と子孫要素の上端を行全体の上端に揃えて画像の下の余白を消す */
}
.productList p {
    font-size: 0.75rem;
    text-align: center;
}

/* ==== footer ==== */
#footer {
    margin: 20px auto;
    font-size: 0.625rem;
    text-align: center;
}
#footer p {
    padding-top: 20px;
    border-top: 1px solid black;
}
